/*General Rules & Fonts*/

html {
  font-family: 'Barlow', 'Arial', sans-serif;
  font-size: 16px;
  color: rgba(60, 60, 60, 0.9);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/HUuNgGR31mqIHE6zs0BlBgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/57TQ-anwthzkETEIO4jESAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v1/8hNuYABG6RcCB7awZe-wJ5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v1/85USsdxXrj0ktofu610mIuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

div {
  display: block;
}

h1, h2, h3, span.bold {
  font-weight: 700;
  padding: .5rem 0;
  line-height: 1.4;
  vertical-align: middle;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

.flex-container {
  display: flex;
  margin: 0 auto;
}

/*Header & Nav Rules*/

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgba(105, 105, 105, 1);
}

.site-container {
  margin: 0 1.5rem;
}

header .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

#nav {
  display: inline-flex;
  justify-content: space-around;
}

#nav li {
  padding-left: 1rem;
}

#top-logo span {
  display: inline-block;
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  height: 2rem;
}

#top-logo img {
  height: 3rem;
  vertical-align: middle;
}

/*Main Left*/

#main {
  position: relative;
  top: 4rem;
}

.banner {
  background-color: rgba(60, 60, 60, 0.3);
}

.left img {
  width: 100%;
  padding: 2rem 0;
}

.flex-container.left {
  flex-direction: column;
  float: left;
  width: 60%;
}

/*Main Right*/

.flex-container.right {
  flex-direction: column;
  justify-content: center;
  float: right;
  width: 40%;
  height: 100%;
}

#button {
  background-color: rgba(60, 60, 60, 0.8);
  color: white;
  text-align: center;
  padding: .5rem 1rem;
}

.img-box {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.img-box img {
  width: 35%;
  height: 100%;
  padding: 1rem;
}

/*Courses*/

#courses {
  display: inline-block;
}
