/*General Rules & Fonts*/

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 16px;
  color: rgba(60, 60, 60, 0.9);
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v1/8hNuYABG6RcCB7awZe-wJ5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v1/85USsdxXrj0ktofu610mIuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

div {
  display: block;
}

h1, h2, h3, span.bold {
  font-weight: 700;
  padding: .5rem 0;
  line-height: 1.6;
  vertical-align: middle;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.55rem;
}

.flex-container {
  display: flex;
  margin: 0 auto;
}

p {
  font-size: 0.9rem;
  margin: .5rem 0;
}

video {
  width: 100%;
  height: 100%;
}

span {
  font-family: "Barlow", "Arial", sans-serif;
}

/*Media Queries*/

@media only screen and (min-width: 480px); {

  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px); {

 .flex-container.left, .flex-container.right {
   width: 100%;
 }
}


/*Header & Nav Rules*/

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: rgba(105, 105, 105, 1);
}

.site-container {
  margin: 0 1.5rem;
}

header .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0 auto;
}

#nav {
  display: inline-flex;
  justify-content: space-around;
}

#nav li {
  padding-left: 1rem;
}

#top-logo span {
  display: inline-block;
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  height: 2rem;
}

#top-logo img {
  height: 3rem;
  vertical-align: middle;
}

/*Banner*/

#banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.3);
}

/*Main*/

#info {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
}

/*Main Left*/

#main {
  position: relative;
  top: 2rem;
}

.left img {
  width: 100%;
}

.flex-container.left {
  flex-direction: column;
  float: left;
  width: 60%;
  padding: 2rem 0;
}

#quote {
  font-size: .75rem;
}

/*Main Right*/

.flex-container.right {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  float: right;
  width: 40%;
  height: 100%;
  padding: 2rem 0;
  border-left: .5px solid rgba(60, 60, 60, 0.2);
}

#button {
  background-color: rgba(60, 60, 60, 0.8);
  color: rgba(255,255,255, 0.9);
  text-align: center;
  padding: .5rem 2.5rem;
}

.img-box {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-left: .5px solid rgba(60, 60, 60, 0.2);
}

.img-box img {
  width: 35%;
  height: 100%;
  padding: 1rem;
}

#info .img-box img:first-child {
  padding: 0 1rem 1rem 1rem;
}

.img-box.gray {
  background-color: rgba(60, 60, 60, 0.2);
}

.caption-box a {
  color: rgba(32, 178, 170, 1);
}

/*Courses*/

#courses {
  display: inline-block;
  background-color: rgba(60, 60, 60, 0.2);
}

h2.center {
  display: inline-block;
  padding: 2rem 0 0 0;
  text-align: center;
  width: 100%;
}

.flex-container.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 4rem;
}

.class-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  margin: 1rem .5rem;
  width: 30%;
}

.class-box img {
  width: 100%;
  height: auto;
}

.class-box .caption-box {
  padding: 1rem 1rem 1.5rem 1rem;
}

.caption-box span {
  text-transform: uppercase;
}

/*Thesis*/

#thesis {
  display: inline-block;
}

#thesis .flex-container {
  border: none;
}

/*Footer*/

footer {
  display: inline-flex;
  position: relative;
  top: 4rem;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  text-size: .5rem;
}

footer span {
  font-size: .75rem;
}

footer span a {
  padding: 0 .5rem;
}
